DATABASE_URL=postgresql://neondb_owner:*****@ep-morning-queen-am4dvig4.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=https://us-south.ml.cloud.ibm.com
NOMINATIM_USER_AGENT=señalcdmx-hackathon
